/* ----------------------
---- BAG OM FIKUMDIK ----
---------------------- */

/*--FARVER---*/
:root {
    --morkblaa: rgba(2, 24, 43, 1);
    --roed: rgba(182, 22, 36, 1);
    --cyanblaa: rgba(60, 133, 144, 1);
    --morksand: rgba(243, 231, 196, 1);
    --lyssand: rgba(255, 254, 245, 1);
}

/* DESKTOP VERSIONEN AF INFOGRAFIK VISES IKKE */

#infografik_wrapper {
    display: none;
}



.bagomfikumdik_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bagomfikumdik_displayfont {
    display: none;
}

.bagom_broedtekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em 0;
}

.bagom_broedtekst h2, .bagom_broedtekst p {
    margin: 0.5em 0;
    font-weight: 400;
}

.presse_billede {
    margin: 3em;
}

#migogaarhus_desktop {
    display: none;
}

.bagom_galleri_container {
    margin: 4em 0 4em 0;
}

.bagom_galleri {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 1em;
}

.bagom_galleri img{
    width: 100%;
    padding:5px;
}


/* MEDIA QUIERIE */ 
@media screen and (min-width: 1024px) {
    #infografikmobile_wrapper {
        display: none;
    }

    #infografik_wrapper {
        display: flex;
    }

    #infografik_desk {
        width: 100%;
    }
    
    .bagomfikumdik_wrapper {
        display: grid;
        grid-template-columns: 20% 40% 20%;
    }
    
    #bagomfikumdik_displayfont {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-left: 10em;
    }
    
    .bagomfikumdik_wrapper h2 {
        margin-top: 5em;
    }

    .bagom_desktop {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .bagom_broedtekst{
        margin: 5em;
    }

    #migogaarhus_mobile {
        display: none;
    }

    #migogaarhus_desktop {
        display: block;
    }

    .bagom_galleri {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: center;
        gap: 1em;
    }

    .bagom_galleri img{
        width: 100%;
        padding:5px;
    }
}