/* -------------------- 
------- EVENTS -------
-------------------- */
.events_intro {
    text-align: center;
    max-width: 51em;
    margin: 2em auto 1em;
    padding: 0 0.5em;
}

.events_h1 { /* EVENTS titel */
    margin-bottom: 0.5em;
}

.events_filtrering {
    text-align: center;
    margin: 2em auto;
}

.events_h4 {
    font-weight: 500;
    margin-bottom: 0.7em;
}

.events_filter_knap {
    font-size: 0.9em;
    font-weight: 400;
    padding: 0.2em 0.4em;
    color: var(--roed);
    background-color: var(--lyssand);
    border: 2px solid var(--roed);
    border-radius: 10px;
    margin: 0.3em;
    cursor: pointer;
    transition: ease 0.5s;
}

.events_filter_knap:hover {
    color: var(--lyssand);
    background-color: var(--roed);
}

.events_filter_knap.aktiv { /* Til filtrering: den aktive knap */
    color: var(--lyssand);
    background-color: var(--roed);
}

.events_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    row-gap: 3rem;
    max-width: 80em;
    margin: 0 auto 2em;
    padding: 0 2em;
}

.events_boks {
    width: 100%;
    background-color: var(--roed);
    max-width: 20em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 6px grey;
    transition: all 1.5s; /* Til JS */ 
    opacity: 0;
}

.events_navn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--lyssand);
    text-align: center;
    padding: 1em 0.7em 1.2em;
    height: 8.5em;
}

.events_navn h2 {
    font-size: 1.1em;
}

.events_linje {
    width: 80%;
    height: 2px;
    background-color: var(--lyssand);
    border-radius: 10px;
    margin: 0.8em 0 0.9em;
}

.events_info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.events_cirkel {
    width: 0.4em;
    height: 0.4em;
    background-color: var(--lyssand);
    border-radius: 30px;
}

.events_dato, .events_kategori, .events_pris {
    font-size: 0.9em;
}

.events_dato, .events_kategori {
    font-weight: 500;
}

/*-- STYLING AF ON SCROLL EFFEKT -- */

/* .event_boks_mobil2{
    transition: all 1.5s;
    opacity: 0;
}

.event_boks_mobil5{
    transition: all 1.5s;
    opacity: 0;
}

.event_boks_mobil3{
    transition: all 1.5s;
    opacity: 0;
}

.event_boks_mobil4{
    transition: all 1.5s;
    opacity: 0;
} */


/* -------------------------------------------------

------ TILPASNING TIL DESKTOP - MEDIA QUERIES ------

-------------------------------------------------- */
/* BREAKPOINT T. TABLET */
@media screen and (min-width: 768px){
    /* ------- GENEREL STYLING --------*/
    h1 { /* Bruges til over-overskrift */
        font-size: 2.4em;
    }
    
    h2 { /* Bruges til underoverskrift */
        font-size: 1.5em;
    }
    
    button { /* knap */
        font-size: 1.2em;
    }
    
    h4 { /* introducerende brødtekst */
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
    }
}


@media screen and (min-width: 1024px){ 
/* -------------------- 
    ------- EVENTS -------
    -------------------- */
    .events_boks:hover {
        transform: scale(1.05); /* DETTE FORSTØRRE EVENT KORT VED HOVER */
        box-shadow: 0 4px 8px gray; /* GØR SKYGGEN MØRKERE OG STØRRE */
        transition: 0.5s ease-in-out; /*SÆTTER EN SMOOTH TRANSITION DER VARER 0.5 s */
    }

    .events_intro {
        margin: 4em auto 1em;
        padding: 0 0.5em;
    }
    
    .events_h1 { /* EVENTS titel */
        margin-bottom: 0.5em;
    }
    
    .events_filtrering {
        margin: 3.5em auto;
    }
    
    .events_h4 {
        margin-bottom: 0.7em;
    }
    
    .events_filter_knap {
        font-size: 1em;
        padding: 0.2em 0.5em;
        border-radius: 12px;
    }
    
    .events_container {
        margin: 0 auto 2em;
        padding: 0 2em;
    }
    
    .events_boks {
        border-radius: 10px;
    }
    
    .events_navn {
        padding: 1em 0.7em 1.2em;
        height: 9.5em;
    }
    
    .events_navn h2 {
        font-size: 1.4em;
    }
    
    .events_linje {
        width: 80%;
        height: 2px;
        background-color: var(--lyssand);
        border-radius: 10px;
        margin: 0.8em 0;
    }
    
    .events_info {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .events_cirkel {
        width: 0.4em;
        height: 0.4em;
        background-color: var(--lyssand);
        border-radius: 30px;
    }
    
    .events_dato, .events_kategori, .events_pris {
        font-size: 1em;
    }
}
