.events_banner{
    width: 100%;
}

#sang_h1{
    margin: 5%;
}

.sang_dato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 0.85em;
}

.events_tekst{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 190%;
}

#events_tilmeld_display{
    max-width: 30%;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 18%;
}

#events_maps_display{
    max-width: 40%;
    margin-left: auto;
    margin-top: 12%;
    margin-right: 5%;
}

.events_maps_container{
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    overflow: hidden;
}

/* ---------------
   MEDIA QUERIE 
-----------------*/ 
@media screen and (min-width: 1024px) {

    #sang_h1{
        margin: 2%;
    }

    .sang_dato h3 {
        font-size: 2em;
    }

    .events_tekst{
        margin-top: 2%;
        align-items: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    #events_tilmeld_display{
        max-width: 18%;
        margin-right: 30%;
        margin-top: 5%;
    }

    .forms_container{
        width: 40%;
        margin-left: 31%;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    #events_maps_display{
        max-width: 23%;
    
    }
}
