.spisning_tekst{
   margin-top: 5%;
   margin-bottom: 5%;
   margin-left: 10%;
   margin-right: 10%;
   font-size: 1em;
   line-height: 1.5em;
   font-weight: 300;
   font-family: "Jost", sans-serif;
   line-height: 190%;
}

/*PLACERING AF PUNKT TEKST*/
#spisning_punkt_tekst{
   display: flex;
   justify-content: center;
}

/*STYLING AF PRIKKEN*/
.spisning_prik {
   height: 8px;
   width: 8px;
   vertical-align: middle;
   background-color: var(--roed);
   border-radius: 50%;
   display: inline-block;
   margin: 2%;
}

/* styling af menu til mobil */
#menu_mobil_container{
   display: flex;
   justify-content: center;
}

#spisning_mobil_menu{
   max-width: 95%;
   margin-top: 4%;
}

/* styling af menu til desktop */
#menu_desktop_container{
   display: none;
}

/* FORMS - TILMELDING */
.forms_container{
   width: 100%;
   margin-top: 8%;
   margin-bottom: 5%;
}

form {
   display: flex;
   flex-direction: column;
}

input, textarea {
   background-color: var(--lyssand);
   margin-bottom: 5%;
   padding: 3%;
   border: 2px solid rgba(2, 24, 43, 0.5);
   border-radius: 8px;
   font-size: 1em;
   font-family: "Jost", sans-serif;
   box-shadow: 5px 5px 5px rgba(2, 24, 43, 0.3);
}

textarea {
   height: 10em;
}

button {
   padding: 3%;
   align-self: flex-end;
   background-color: var(--roed);
   width: 30%;
   color: var(--lyssand);
   border: none;
   border-radius: 8px;
   font-size: 1em;
   cursor: pointer;
   margin-bottom: 5%;
}

button:hover {
   background-color: var(--morkblaa);
}

.fejl {
   color: var(--roed);
   display: none;
}

#navn{
   background-color: var(--lyssand);
}

#mail{
   background-color: var(--lyssand);
}

#besked{
   background-color: var(--lyssand);
}

#antal{
   color: grey;
   background-color: var(--lyssand);
   font-size: 1em;
   font-family: "Jost", sans-serif;
   padding: 4%;
   border: 2px solid rgba(2, 24, 43, 0.5);
   border-radius: 8px;
   box-shadow: 5px 5px 5px rgba(2, 24, 43, 0.3);
   margin-bottom: 5%;
}

@media screen and (min-width: 1024px){
   .spisning_tekst{
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 17%;
      margin-right: 17%;
      line-height: 190%;
  }

  #spisning_punkt_tekst{
   margin: 0%;
}

/* styling af menu til mobil --> skjuler mobil menu */
#menu_mobil_container{
   display: none;
}

/* styling af menu til desktop --> viser desktop menu */
#menu_desktop_container{
   display: flex;
   justify-content: center;
   max-width: 100%;
}

#spisning_desktop_menu{
   max-width: 60%;
}

/* FORMS - TILMELDING */
.forms_container{
   width: 40%;
   margin-top: 5%;
   margin-bottom: -3%;
}

}
